#name: CI - FastAPI Healthcheck
#
#on:
#  push:
#    branches: ["main"]
#  pull_request:
#    branches: ["main"]
#
#jobs:
#  build-test:
#    runs-on: ubuntu-latest
#
#    steps:
#    - name: Checkout code
#      uses: actions/checkout@v4
#
#    - name: Set up Python
#      uses: actions/setup-python@v5
#      with:
#        python-version: '3.11'
#
#    - name: Install dependencies
#      run: |
#        python -m pip install --upgrade pip
#        pip install flake8
#        pip install -r requirements.txt
#
#    - name: Lint (flake8)
#      run: |
#        flake8 app --count --select=E9,F63,F7,F82 --show-source --statistics
#        flake8 app --count --exit-zero --max-complexity=10 --statistics
#
#
#    - name: Build Docker image
#      run: |
#        docker build -t healthcheck:ci .
#
#    - name: Run container
#      run: |
#        docker run -d -p 8000:8000 --name healthcheck-test healthcheck:ci
#        sleep 5
#
#    - name: Cleanup
#      if: always()
#      run: |
#        docker stop healthcheck-test || true
#        docker rm healthcheck-test || true

#    - name: Deploy to server
#      uses: appleboy/ssh-action@v1.0.3
#      with:
#        host: ${{ secrets.SERVER_IP }}
#        username: ${{{ secrets.SERVER_USER }}
#        key: ${{ secrets.SERVER_SSH_KEY }}
#        script: |
#          docker stop healthcheck || true
#          docker rm healthcheck || true
#          docker run -d \
#            --name healthcheck \
#            -p 8000:8000 \
#            healthcheck:latest
name: CD - Deploy to VM

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 192.168.179.129
          username: stack
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker rm -f healthcheck || true
            docker run -d -p 8000:8000 --name healthcheck healcheck-latest
#      - name: Checkout source
#        uses: actions/checkout@v4

#      - name: Build image (same commit SH4)
#        run: |
#          docker build -t healthcheck:${{ github.event.workflow_run.head_sha }} .

#      - name: Login to GHCR
#        run: |
#          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
#
#      - name: Pull image
#        run: |
#          docker pull ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_sha }}

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.9
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to VM
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            docker rm -f healthcheck || true
            docker pull ghcr.io/backtohodu/healthcheck:lastest || true
            docker run -d -p 8000:8000 --name healthcheck healthcheck:lastest
          EOF

#      - name: Deploy container
#        run: |
#          docker rm -f healthcheck || true
#          docker run -d -p 8000:8000 \
#          --name healthcheck \
#          ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_sha }}

#      - name: Post-deploy health check
#        run: |
#          sleep 5
#          curl -f http://localhost:8000/health